@model IEnumerable<NetCore.Crud.Web.Dtos.RoleDtos.GetAllRolesDto>

@{
    ViewData["Title"] = "Get All Roles";
}

<h1>Get All Roles</h1>

<p>
    <a asp-action="CreateRole" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Manipulate
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="d-flex">
                    <a asp-action="GetRoleById" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    <a asp-action="UpdateRole" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="DeleteRole" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirmDelete();">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function confirmDelete() {
        return confirm("Are you sure you want to delete this record?");
    }
</script>
